* {
  font-size: 15px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 700;
}

window#waybar {
    background: #282c34;
    color: #fcfcfc;
}

#workspaces {
    padding-right: 10px;
    background: #282c34;
    color: #fcfcfc;
}

#workspaces button {
    padding: 0 5px;
    background: #282c34;
    color: #fcfcfc;
}

#workspaces button.active {
    background: #5c6667;
    color: #fcfcfc;
}
